/*Font-family import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*Code style*/

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0 auto;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: gray;
}

div h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #6AA5FF;
}

.form-check {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.109);
}

.form-check-label, .card-body .card-title{
  font-family: 'Open Sans', sans-serif;
  color: rgb(235, 244, 253);
}

.form-check-input {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ebf4fd;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.check-concluido {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}

.um {
  background-color: #FE746F;
}

.um > .form-check-input {
  background-color: #FE746F;
}

.dois {
  background-color: #FEC857; 
}

.dois > .form-check-input {
  background-color: #FEC857;
}

.tres {
  background-color: #6AA5FF;
}

.tres > .form-check-input {
  background-color: #6AA5FF;
}

.um > .descricao {
  font-size: 11px;
  color: #b3514e;
}

.dois > .descricao {
  font-size: 11px;
  color: #b18c3d;
}

.tres > .descricao {
  font-size: 11px;
  color: #507fc5;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.slide::-webkit-scrollbar {
  color: white;
}

.card {
  border: none;
  min-width: 170px;
	height: 150px;
  margin-right: 20px;
}

.card-body {
  border-radius: 15px;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.116);
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.verTarefa, .pesquisa {
  cursor: pointer;
}

.porcentagem-um {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #b3514e;
  font-size: 20px;
  margin: -1px;
  margin-bottom: 2px;
}

.bar-um {
  background-color: #b3514e;
}

.porcentagem-dois {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #b18c3d;
  font-size: 20px;
  margin: -1px;
  margin-bottom: 2px;
}

.bar-dois {
  background-color: #b18c3d;
}

.porcentagem-tres {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #507fc5;
  font-size: 20px;
  margin: -1px;
  margin-bottom: 2px;
}

.bar-tres {
  background-color: #507fc5;
}

.last {
  padding-bottom: 15%;
}

.concluido {
  background-color: #ebf4fd;
}

.concluido > label {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.concluido > .descricao {
  font-size: 11px;
  color: #c7cdd3;
}
