/*Font-family import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

/*Code style*/
ul {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-item a {
  width: 100%;
}

.nav-link button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  right: 6%;
  bottom: 10%;
}
